<header id="header">
    <h1 id="logo"><a href="/">Alarm Clock</a></h1>
</header>
<nav id="navigation">
    <ul class="menu">
        <li id="nav-intro">
            <a href="/#intro">Introduction</a>
        </li>
        <li id="nav-news">
            <a href="/#news">News</a>
        </li>
        <li id="nav-features">
            <a href="/#features">Features</a>
        </li>
        <li id="nav-download">
            <a href="/#download">Download</a>
        </li>
        <li id="nav-install">
            <a href="/#install">Installation</a>
        </li>
        <li id="nav-bugs">
            <a href="/#bugs">Bugs &amp; suggestions</a>
        </li>
    </ul>
</nav>
